/******************************************
/* CSS
/*******************************************/
html{
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 62.5%;
}

/* Box Model Hack */
*{
  box-sizing: border-box;
}

h2{
  font-weight: 300;
  font-size: 2.5rem;
}

.header-title{
  color: #b31b10;
  margin-top: 3.9%;
}
header {
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 15%;
  margin-right:-5.5%;
}

.logo-name{
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
}

li{
  list-style: none;
  font-size: 2rem;
}

ul{
  margin-left: -55%;
  display: flex;
  margin-top: 10%;
  justify-content: space-around;
  margin-right: 10%;

}

/******************************************
/* LAYOUT
/*******************************************/
main{
  display: flex;
  justify-content: space-around;
}

img{
  border-radius: 1rem;
}

p{
  font-size: 2rem;
  width: 50rem;
}

#side-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed-button{
  font-size: 2rem;
  background-color: #FF6363;
  width: 50rem;
  height: 5rem;
  border-radius: 1rem;
  border: none;
}

#title{
  font-size: 4rem;
  font-weight: 510;
}

#heart{
  width: 5rem;
  height: 5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-right: 18rem;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
