<%- include("partials/layout/header") %> 
<main id="completed-main" class="flex-grow">
    <section class="completed">
        <div>
            <!-- <img src="http://placekitten.com/450/300"></img> -->
        </div>
        <div>
            <section class="completed-header">
                <h2>Exercise Title</h2>
                <button type="button" class="favorite-button" id="heart" aria-label="favorite">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </section>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis sapiente culpa debitis!</p>
            <button class="completed-button">Completed</button>
        </div>
    </section>
</main>
<%- include("partials/layout/footer") %> 
