<%- include("partials/layout/landingHeader") %>
	
<div class="hero min-h-screen bg-base-200">
	<div class="hero-content lg:flex-row">
	  <img src="/img/thumbnail.jpg" class="max-w-md rounded-lg shadow-2xl " />
	  <div>
		
		<h1 class="text-5xl font-bold leading-loose text-coral-dark flex items-center space-x-8"> 
			<!-- <img class="background-slate-700 mr-2" src="/img/remind-logo.svg" alt="The logo for our awesome app"> -->
			Re:Mind</h1>
		<p class="py-6 leading-loose text-slate-600">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>

		<div class="mt-8 flex gap-x-2 sm:justify-center">
			<button class="font-semibold">
				<a class="py-4 px-6 ml-4 text-md text-white rounded-md bg-coral hover:bg-coral-dark shadow" href="/auth/login" role="button">Login</a>
			</button>
			<button class="font-semibold">
				<a class="py-4 px-4 ml-4 text-md text-white rounded-md bg-coral hover:bg-coral-dark shadow" href="/auth/signup" role="button">Sign Up</a>
			</button>
		  </div>
	  </div>
	</div>
  </div>


<%- include("partials/layout/footer") %>
