<%- include("partials/layout/landingHeader") %>
   <script src="https://cdn.tailwindcss.com"></script>	
<div class="hero min-h-screen bg-base-200">
	<div class="hero-content lg:flex-row">
	  <img src="/img/thumbnail.jpg" class="max-w-full h-auto rounded-lg shadow-2xl md relative overflow-hidden rounded-lg shadow-xl shadow-slate-300 " />
	  <div>
		<h1 class="text-5xl  leading-loose text-coral-dark flex items-center space-x-8"> 
			<img class="background-slate-700 mr-6 " src="/img/remind-logo.svg" alt="The logo for our awesome app">
			Re:Mind</h1>
		<p class="py-6 leading-loose text-slate-600">Welcome to Re:Mind, the app that helps you stay on track with your fitness routine. With Re:Mind, you can easily upload videos of your favorite exercises and set reminders to complete them. This way, you'll never forget to stay active and reach your fitness goals. Plus, our user-friendly interface makes it easy to stay organized and motivated. So why wait?</p>
		<div class="mt-2 flex gap-x-2 sm:justify-center">
			<button class="font-semibold">
				<a class="py-2 px-6 ml-4 text-md text-white rounded-md bg-coral hover:bg-coral-dark shadow" href="/auth/login" role="button">Login</a>
			</button>
			<button class="font-semibold">
				<a class="py-2 px-4 ml-4 text-md text-white rounded-md bg-coral hover:bg-coral-dark shadow" href="/auth/signup" role="button">Sign Up</a>
			</button>
		  </div>
	  </div>
	</div>
  </div>


<%- include("partials/layout/footer") %>
