		</main>
		<footer class="flex-grow-0 flex-shrink-0 px-10 space-y-5 pt-14">
			<section>
				<span>
					Remind &copy; <%= new Date().getFullYear(); %>.
				</span>
			</section>
			<section>
				<span class="font-semibold">Made by</span>
				<ul class="mt-4 space-y-4">
					<li><a class="text-base text-gray-500 hover:text-gray-900" href="https://github.com/April-Yuen">April-Yuen</a><li>
					<li><a class="text-base text-gray-500 hover:text-gray-900" href="https://github.com/jojdyx">jojdyx</a><li>
					<li><a class="text-base text-gray-500 hover:text-gray-900" href="https://github.com/Johnaius">Johnaius</a><li>
					<li><a class="text-base text-gray-500 hover:text-gray-900" href="https://github.com/bekkemarr">bekkemarr</a><li>
					<li><a class="text-base text-gray-500 hover:text-gray-900" href="https://github.com/leroialfonse">leroialfonse</a><li>
					<li><a class="text-base text-gray-500 hover:text-gray-900" href="https://github.com/ivel6482">ivel6482</a><li>
				</ul>
			</section>
		</footer>

		<script type="text/javascript" src="/js/navigation.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>
