		<footer class="flex-grow-0 flex-shrink-0">
			Remind &copy; 2022.
		</footer>

		<script type="text/javascript" src="js/navigation.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
