<!DOCTYPE html>
<html lang="en" class="h-full">
   <head>
   <meta charset="utf-8">
   <meta name="description" content="This is where your description goes">
   <meta name="keywords" content="one, two, three">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;600;800&display=swap" rel="stylesheet">	
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <script src="https://cdn.tailwindcss.com"></script>
   <title>Re:mind</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body class="relative flex flex-col min-h-full text-slate-800">
    <header class="flex justify-between flex-grow-0 flex-shrink-0 px-10 py-5">
      <div class="flex items-center space-x-4">
        <img class="background-slate-700" src="/img/remind-logo.svg" alt="The logo for our awesome app">
        <h2 class="text-2xl text-coral-dark">Re:Mind</h2>
      </div>
    </header>
    <main class="flex-grow px-10 md:px-0 md:mx-auto md:w-6/12 lg:w-10/12 xl:w-8/12 2xl:w-6/12">
