<nav>
  <!-- Mobile -->
    <div>

      <ul id="drawer" class="absolute inset-y-0 z-50 w-1/2 px-5 py-10 space-y-5 font-semibold transition-all -left-96 md:hidden bg-slate-50">
        <li>
          <div class="flex items-center space-x-4">
            <img class="background-slate-700" src="/img/remind-logo.svg" alt="The logo for our awesome app">
            <h2 class="text-2xl text-coral-dark">Re:Mind</h2>
          </div>
        </li>
        <li class="text-coral">
          <a href="/posts" class="nav-link">My Posts</a>
        </li>
        <li class="text-coral">
          <a href="/exercises/completed" class="nav-link">Completed Exercise</a>
        </li>
        <li class="text-coral">
          <a href="/exercises/favorites" class="nav-link">Favorites</a>
        </li>
        <li class="text-coral">
          <a href="/exercises" class="nav-link">Exercises</a>
        </li>
        <li class="text-coral">
          <a href="/exercises/new" class="nav-link">Add Exercise</a>
        </li>
        <% if (locals.user) { %>
          <li class="text-coral">
            <a href="/auth/logout" class="nav-link">Logout</a>
          </li>
        <% } else { %>
        <li class="text-coral">
          <a href="/auth/login" class="nav-link">Login</a>
        </li>
        <li class="text-coral">
          <a href="/auth/signup" class="nav-link">Sign Up</a>
        </li>
        <% } %>
      </ul>
    </div>
    <button type="button" id="overlay" class="absolute inset-0 z-10 hidden w-full h-full bg-black/50"></button>
  
  <!-- Desktop -->
  <ul class="hidden md:flex font-semibold space-x-4 p-3">
    <li class="text-coral/80 hover:text-coral">
      <a href="/posts" class="nav-link">My Exercises</a>
    </li>
    <li class="text-coral/80 hover:text-coral">
      <a href="/exercises/completed" class="nav-link">Completed Exercise</a>
    </li>
    <li class="text-coral/80 hover:text-coral">
      <a href="/exercises/favorites" class="nav-link">Favorites</a>
    </li>
    <li class="text-coral/80 hover:text-coral">
      <a href="/exercises" class="nav-link">Exercises</a>
    </li>
    <li class="text-coral/80 hover:text-coral">
      <a href="/exercises/new" class="nav-link">Add Exercise</a>
    </li>
    <% if (locals.user) { %>
      <li class="text-coral/80 hover:text-coral">
        <a href="/auth/logout" class="nav-link">Logout</a>
      </li>
    <% } else { %>
    <li class="text-coral/80 hover:text-coral">
      <a href="/auth/login" class="nav-link">Login</a>
    </li>
    <li class="text-coral/80 hover:text-coral">
      <a href="/auth/signup" class="nav-link">Sign Up</a>
    </li>
    <% } %>
  </ul>
  <button id="hamburger" type="button" class="mt-3 md:hidden">
    <img src="/img/hamburger-menu.svg" alt="mobile menu button">
  </button>
</nav>
