<nav>
  <ul class="hidden md:block">
    <li class="nav-item">
      <a href="/" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="/completed" class="nav-link">Completed Exercise</a>
    </li>
    <li class="nav-item">
      <a href="/favorite" class="nav-link">Favorited</a>
    </li>
  </ul>
  <button type="button" class="mt-3 md:hidden">
    <img src="img/hamburger-menu.svg" alt="mobile menu button">
  </button>
</nav>
